<h1 style="color:DarkRed;">UBS Challenge: 4ML. Feature Engineering</h1>

In [7]:
# Feature Engineering and adding Ticks

In [8]:
import pandas as pd
import yfinance as yf

In [9]:
cleaned_df = pd.read_csv("cleaned_data.csv")

In [10]:
cleaned_df

,legal_entity_name,period_end_date,Ticker,followers,pictures,videos,comments,likes,compset_group_Beauty & Personal Care,compset_group_Food & Beverages,compset_group_Home Improvement & Appliances,compset_group_Luxury & Premium & Mainstream & Entertainment,compset_group_Retail
0,AbbVie,2021-07-24,ABBV,5477.0,3.0,4.0,0.0,180.0,1,0,0,0,0
1,AbbVie,2021-07-31,ABBV,5761.0,5.0,4.0,0.0,246.0,1,0,0,0,0
2,AbbVie,2021-08-07,ABBV,5933.0,5.0,3.0,0.0,222.0,1,0,0,0,0
3,AbbVie,2021-08-14,ABBV,6104.0,5.0,3.0,0.0,252.0,1,0,0,0,0
4,AbbVie,2021-08-21,ABBV,6354.0,5.0,2.0,0.0,248.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75028,iRobot Corp,2023-08-19,IRBT,307679.0,90.0,59.0,2989.0,2124.0,0,0,1,0,0
75029,iRobot Corp,2023-08-26,IRBT,307842.0,96.0,74.0,3092.0,2903.0,0,0,1,0,0
75030,iRobot Corp,2023-09-02,IRBT,307980.0,94.0,71.0,3038.0,2574.0,0,0,1,0,0
75031,iRobot Corp,2023-09-09,IRBT,308043.0,89.0,90.0,3044.0,2805.0,0,0,1,0,0
75032,iRobot Corp,2023-09-16,IRBT,308260.0,98.0,96.0,1797.0,2905.0,0,0,1,0,0

In [11]:
cleaned_df['period_end_date'] = pd.to_datetime(cleaned_df['period_end_date'])

In [12]:
def fetch_yahoo_finance_data(ticker, start_date, end_date):
    stock = yf.Ticker(ticker)
    # Fetch historical data within the specified date range and interval
    hist = stock.history(start=start_date, end=end_date, interval="1wk")
    hist.reset_index(inplace=True)
    hist["Ticker"] = ticker  # Add a column to identify the ticker
    return hist

In [13]:
tickers = cleaned_df["Ticker"].unique()
finance_data = []

In [15]:
for ticker in tickers:
    dates_of_interest = cleaned_df[cleaned_df["Ticker"]==ticker]["period_end_date"]
    yahoo_data = fetch_yahoo_finance_data(ticker, min(dates_of_interest), max(dates_of_interest) + pd.Timedelta(days=7))
    finance_data.append(yahoo_data)

finance_data = pd.concat(finance_data, ignore_index=True)

finance_data

ANFANF: No timezone found, symbol may be delisted
ADS.DEADS.DE: No timezone found, symbol may be delisted
AEOAEO: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
BUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUDBUD: No timezone found, symbol may be delisted
2020.HK2020.HK: No timezone found, symbol may be delisted
2020.HK2020.HK2020.HK: No timezone found, symbol may be delisted
ARZZ3.SAARZZ3.SA: No timezone found, symbol may be delisted
ARZZ3.SAARZZ3.SAARZZ3.SA: No timezone found, symbol may be delisted
ARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SA: No timezone found, symbol may be delisted
ARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SAARZZ3.SA: No timezone found, symbol may be delisted
ASOMYASOMY: No timezone found, symbol may be delisted
ASOMYASOMYASOMY: No timezone found, symbol may be delisted
BEI.DEBEI.DE: No timezone found, symbol may be delisted
BOO.LBOO.L: No timezone found, symbol may be delisted
BOO.LBOO.LBOO.L: No timezone found, symbol may be delisted
CCC: No timezone found, symbol may be delisted
CPRICPRICPRI: No timezone found, symbol may be delisted
CRICRICRI: No timezone found, symbol may be delisted
CSPR: No timezone found, symbol may be delisted
KOKO: No timezone found, symbol may be delisted
KOKOKO: No timezone found, symbol may be delisted
KOKOKOKO: No timezone found, symbol may be delisted
KOKOKOKOKO: No timezone found, symbol may be delisted
COLMCOLM: No timezone found, symbol may be delisted
COTYCOTY: No timezone found, symbol may be delisted
COTYCOTYCOTY: No timezone found, symbol may be delisted
COTYCOTYCOTYCOTY: No timezone found, symbol may be delisted
COTYCOTYCOTYCOTYCOTY: No timezone found, symbol may be delisted
COTYCOTYCOTYCOTYCOTYCOTY: No timezone found, symbol may be delisted
COTYCOTYCOTYCOTYCOTYCOTYCOTY: No timezone found, symbol may be delisted
CROXCROX: No timezone found, symbol may be delisted
DBIDBI: No timezone found, symbol may be delisted
7825.T: No price data found, symbol may be delisted (1wk 2018-03-10 00:00:00 -> 2023-09-23 00:00:00)
BN.PABN.PA: No timezone found, symbol may be delisted
BN.PABN.PABN.PA: No timezone found, symbol may be delisted
BN.PABN.PABN.PABN.PA: No timezone found, symbol may be delisted
DECKDECK: No timezone found, symbol may be delisted
DGE.LDGE.L: No timezone found, symbol may be delisted
DGE.LDGE.LDGE.L: No timezone found, symbol may be delisted
DISDISDIS: No timezone found, symbol may be delisted
ZGN: Data doesn't exist for startDate = 1420261200, endDate = 1471060800
ZGNZGN: No timezone found, symbol may be delisted
ZGNZGNZGN: No timezone found, symbol may be delisted
ELEL: No timezone found, symbol may be delisted
ELELEL: No timezone found, symbol may be delisted
ELELELEL: No timezone found, symbol may be delisted
ELELELELEL: No timezone found, symbol may be delisted
ELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELELELELELEL: No timezone found, symbol may be delisted
ELELELELELELELELELELELELELELEL: No timezone found, symbol may be delisted
FTCH: No timezone found, symbol may be delisted
9983.T9983.T: No timezone found, symbol may be delisted
FLFLFLFL: No timezone found, symbol may be delisted
FLFLFLFLFL: No timezone found, symbol may be delisted
GIIIGIII: No timezone found, symbol may be delisted
SOMA3.SA: Data doesn't exist for startDate = 1528513200, endDate = 1530932400
SOMA3.SASOMA3.SASOMA3.SASOMA3.SASOMA3.SASOMA3.SA: No timezone found, symbol may be delisted
GPSGPS: No timezone found, symbol may be delisted
GPSGPSGPS: No timezone found, symbol may be delisted
GPSGPSGPSGPS: No timezone found, symbol may be delisted
GISGIS: No timezone found, symbol may be delisted
GISGISGISGIS: No timezone found, symbol may be delisted
GCOGCO: No timezone found, symbol may be delisted
GCOGCOGCO: No timezone found, symbol may be delisted
GCOGCOGCOGCO: No timezone found, symbol may be delisted
HNNMYHNNMY: No timezone found, symbol may be delisted
HEIA.ASHEIA.ASHEIA.ASHEIA.AS: No timezone found, symbol may be delisted
HEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.AS: No timezone found, symbol may be delisted
HEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.AS: No timezone found, symbol may be delisted
HEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.ASHEIA.AS: No timezone found, symbol may be delisted
HEN3.DEHEN3.DE: No timezone found, symbol may be delisted
HEN3.DEHEN3.DEHEN3.DE: No timezone found, symbol may be delisted
BOSS.DEBOSS.DE: No timezone found, symbol may be delisted
ITX.MCITX.MCITX.MCITX.MC: No timezone found, symbol may be delisted
ITX.MCITX.MCITX.MCITX.MCITX.MC: No timezone found, symbol may be delisted
ITX.MCITX.MCITX.MCITX.MCITX.MCITX.MC: No timezone found, symbol may be delisted
ITX.MCITX.MCITX.MCITX.MCITX.MCITX.MCITX.MC: No timezone found, symbol may be delisted
SJMSJM: No timezone found, symbol may be delisted
JD.LJD.LJD.L: No timezone found, symbol may be delisted
JD.LJD.LJD.LJD.L: No timezone found, symbol may be delisted
KAOOYKAOOY: No timezone found, symbol may be delisted
KAOOYKAOOYKAOOY: No timezone found, symbol may be delisted
KAOOYKAOOYKAOOYKAOOYKAOOY: No timezone found, symbol may be delisted
KMD.NZKMD.NZ: No timezone found, symbol may be delisted
KMD.NZKMD.NZKMD.NZ: No timezone found, symbol may be delisted
KER.PAKER.PAKER.PAKER.PAKER.PA: No timezone found, symbol may be delisted
KER.PAKER.PAKER.PAKER.PAKER.PAKER.PA: No timezone found, symbol may be delisted
KTBKTB: No timezone found, symbol may be delisted
0973.HK0973.HK0973.HK0973.HK: No timezone found, symbol may be delisted
0973.HK0973.HK0973.HK0973.HK0973.HK: No timezone found, symbol may be delisted
0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK: No timezone found, symbol may be delisted
0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK: No timezone found, symbol may be delisted
0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK0973.HK: No timezone found, symbol may be delisted
OR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted

OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
OR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PAOR.PA: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUYLVMUY: No timezone found, symbol may be delisted
LEVI: Data doesn't exist for startDate = 1444449600, endDate = 1520658000
LEVILEVI: No timezone found, symbol may be delisted
LULULULU: No timezone found, symbol may be delisted
MM: No price data found, symbol may be delisted (1wk 2017-07-29 00:00:00 -> 2023-09-23 00:00:00)
MFI.TOMFI.TO: No timezone found, symbol may be delisted
MONC.MIMONC.MI: No timezone found, symbol may be delisted
MONDE.PS: No timezone found, symbol may be delisted
LOREAL.PA: No timezone found, symbol may be delisted
NESN.SWNESN.SW: No timezone found, symbol may be delisted
NESN.SWNESN.SWNESN.SWNESN.SW: No timezone found, symbol may be delisted
NESN.SWNESN.SWNESN.SWNESN.SWNESN.SW: No timezone found, symbol may be delisted
JWNJWN: No timezone found, symbol may be delisted
PVHPVH: No timezone found, symbol may be delisted
PVHPVHPVH: No timezone found, symbol may be delisted
PEPPEP: No timezone found, symbol may be delisted
PEPPEPPEP: No timezone found, symbol may be delisted
PEPPEPPEPPEP: No timezone found, symbol may be delisted
PDRDY: No timezone found, symbol may be delisted
PDRDYPDRDY: No timezone found, symbol may be delisted
POSH: No timezone found, symbol may be delisted
1913.HK1913.HK: No timezone found, symbol may be delisted
PGPG: No timezone found, symbol may be delisted
QSRQSR: No timezone found, symbol may be delisted
REV: No timezone found, symbol may be delisted
RVLV: Data doesn't exist for startDate = 1460779200, endDate = 1520658000
RVLVRVLV: No timezone found, symbol may be delisted
RVLVRVLVRVLV: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
CFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUYCFRUY: No timezone found, symbol may be delisted
ROSTROST: No timezone found, symbol may be delisted
SMCP.PASMCP.PA: No timezone found, symbol may be delisted
SMCP.PASMCP.PASMCP.PA: No timezone found, symbol may be delisted
SSDOYSSDOY: No timezone found, symbol may be delisted
SSDOYSSDOYSSDOY: No timezone found, symbol may be delisted
SSDOYSSDOYSSDOYSSDOY: No timezone found, symbol may be delisted
SSDOYSSDOYSSDOYSSDOYSSDOY: No timezone found, symbol may be delisted
SIGSIG: No timezone found, symbol may be delisted
SIGSIGSIGSIG: No timezone found, symbol may be delisted
SIGSIGSIGSIGSIG: No timezone found, symbol may be delisted
SMPLSMPL: No timezone found, symbol may be delisted
SDC: No timezone found, symbol may be delisted
SOVO: Data doesn't exist for startDate = 1472875200, endDate = 1528516800
SOVOSOVO: No timezone found, symbol may be delisted
SPD.L: No timezone found, symbol may be delisted
UHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
UHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SWUHR.SW: No timezone found, symbol may be delisted
TPRTPR: No timezone found, symbol may be delisted
TED.L: No timezone found, symbol may be delisted
TJXTJX: No timezone found, symbol may be delisted
TJXTJXTJX: No timezone found, symbol may be delisted
TOD.MITOD.MI: No timezone found, symbol may be delisted
ULVR.LULVR.L: No timezone found, symbol may be delisted
ULVR.LULVR.LULVR.L: No timezone found, symbol may be delisted
ULVR.LULVR.LULVR.LULVR.L: No timezone found, symbol may be delisted
UNA.AS: Data doesn't exist for startDate = 1440194400, endDate = 1461362400
UNA.ASUNA.AS: No timezone found, symbol may be delisted
UNA.ASUNA.ASUNA.AS: No timezone found, symbol may be delisted
VFCVFC: No timezone found, symbol may be delisted
VFCVFCVFC: No timezone found, symbol may be delisted
VFCVFCVFCVFC: No timezone found, symbol may be delisted
VERY.V: No timezone found, symbol may be delisted
VTPI: No price data found, symbol may be delisted (1wk 2018-03-10 00:00:00 -> 2023-09-23 00:00:00)
WWWWWW: No timezone found, symbol may be delisted
WWWWWWWWW: No timezone found, symbol may be delisted

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close,Capital Gains
0,2021-07-26 00:00:00-04:00,105.964742,106.879704,104.161741,104.323204,26803000.0,0.0,0.0,ABBV,NaN,NaN
1,2021-08-02 00:00:00-04:00,104.852430,105.166385,102.645767,102.663704,30223000.0,0.0,0.0,ABBV,NaN,NaN
2,2021-08-09 00:00:00-04:00,102.780314,104.735814,101.291261,104.484650,26519100.0,0.0,0.0,ABBV,NaN,NaN
3,2021-08-16 00:00:00-04:00,104.951107,107.570398,104.242462,106.583679,30576800.0,0.0,0.0,ABBV,NaN,NaN
4,2021-08-23 00:00:00-04:00,107.462756,108.897984,106.224867,107.265411,23136200.0,0.0,0.0,ABBV,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39620,2023-08-21 00:00:00-04:00,37.119999,39.310001,36.599998,39.110001,951200.0,0.0,0.0,IRBT,NaN,NaN
39621,2023-08-28 00:00:00-04:00,39.060001,39.500000,38.169998,38.770000,1210000.0,0.0,0.0,IRBT,NaN,NaN
39622,2023-09-04 00:00:00-04:00,38.040001,38.709999,36.160000,36.340000,1260500.0,0.0,0.0,IRBT,NaN,NaN
39623,2023-09-11 00:00:00-04:00,35.840000,36.320000,34.889999,35.099998,1601600.0,0.0,0.0,IRBT,NaN,NaN
39624,2023-09-18 00:00:00-04:00,35.009998,38.290001,34.330002,37.299999,1405700.0,0.0,0.0,IRBT,NaN,NaN

In [16]:
finance_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close,Capital Gains
0,2021-07-26 00:00:00-04:00,105.964742,106.879704,104.161741,104.323204,26803000.0,0.0,0.0,ABBV,NaN,NaN
1,2021-08-02 00:00:00-04:00,104.852430,105.166385,102.645767,102.663704,30223000.0,0.0,0.0,ABBV,NaN,NaN
2,2021-08-09 00:00:00-04:00,102.780314,104.735814,101.291261,104.484650,26519100.0,0.0,0.0,ABBV,NaN,NaN
3,2021-08-16 00:00:00-04:00,104.951107,107.570398,104.242462,106.583679,30576800.0,0.0,0.0,ABBV,NaN,NaN
4,2021-08-23 00:00:00-04:00,107.462756,108.897984,106.224867,107.265411,23136200.0,0.0,0.0,ABBV,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39620,2023-08-21 00:00:00-04:00,37.119999,39.310001,36.599998,39.110001,951200.0,0.0,0.0,IRBT,NaN,NaN
39621,2023-08-28 00:00:00-04:00,39.060001,39.500000,38.169998,38.770000,1210000.0,0.0,0.0,IRBT,NaN,NaN
39622,2023-09-04 00:00:00-04:00,38.040001,38.709999,36.160000,36.340000,1260500.0,0.0,0.0,IRBT,NaN,NaN
39623,2023-09-11 00:00:00-04:00,35.840000,36.320000,34.889999,35.099998,1601600.0,0.0,0.0,IRBT,NaN,NaN
39624,2023-09-18 00:00:00-04:00,35.009998,38.290001,34.330002,37.299999,1405700.0,0.0,0.0,IRBT,NaN,NaN

In [17]:
# We have two days delay in the stock price (which is good because is Monday)

In [18]:
 # Let´s only keep the Closing price (of "next monday") for predicting purposes and Date, with some transformations
    
finance_data["Date"] = finance_data["Date"].map(lambda x: str(x).split(" ")[0])

In [19]:
finance_data_cleaned = finance_data[["Date", "Close", "Ticker"]]

In [20]:
# Let´s keep only the observations we will need:

In [21]:
cleaned_df['period_end_date'] = pd.to_datetime(cleaned_df['period_end_date'])

# Convert 'Date' in finance_data_cleaned to datetime
finance_data_cleaned['Date'] = pd.to_datetime(finance_data_cleaned['Date'])

# Add 2 days to 'period_end_date' in cleaned_df to account for the delay
cleaned_df['period_end_date_adjusted'] = cleaned_df['period_end_date'] + pd.Timedelta(days=9)

# Now perform the merge using the adjusted period_end_date
data_completed = pd.merge(cleaned_df, finance_data_cleaned, left_on=['Ticker', "period_end_date_adjusted"], right_on=['Ticker', "Date"], how='inner')

/var/folders/ff/76sw_qpn335gd_mh170rpmbm0000gn/T/ipykernel_57726/2051376822.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finance_data_cleaned['Date'] = pd.to_datetime(finance_data_cleaned['Date'])

In [22]:
data_completed_model = data_completed.drop(columns=["compset_group_Beauty & Personal Care", "compset_group_Food & Beverages", "compset_group_Home Improvement & Appliances", "compset_group_Luxury & Premium & Mainstream & Entertainment", "compset_group_Retail"])

Now, we have the data ready. Let´s start creating some variables:

- Content Variable = pictures + videos: We assume that the effect of a video or of a picture will be the same
- Likes per Content = Likes/Content: To get an estimator of the amount of likes per content
- Comments per Likes: We dont think comments by themselves are relevant for the analysis, as they could be either possitive or negatives. However, if we calculate the ratio between comments and likes we could get an estimation of its sentiment.
- The weekly change of the followers, Likes per content, conments per Likes and the closing stock price
- Moving Averages to extract information about the trend and be able to identify better the anomalies

In [23]:
data_completed_model["content"] = data_completed_model["pictures"] + data_completed_model["videos"]
data_completed_model["likes_per_content"] = data_completed_model["likes"]/data_completed_model["content"]
data_completed_model["comments_per_likes"] = data_completed_model["comments"]/data_completed_model["likes"]

In [24]:
for company in data_completed_model.legal_entity_name.unique():
    company_mask = data_completed_model["legal_entity_name"] == company
    data_completed_model.loc[company_mask, 'likes_per_content_weekly_change'] = data_completed_model.loc[company_mask, 'likes_per_content'].pct_change() * 100
    data_completed_model.loc[company_mask, 'followers_weekly_change'] = data_completed_model.loc[company_mask, 'followers'].pct_change() * 100
    data_completed_model.loc[company_mask, 'comments_per_likes_weekly_change'] = data_completed_model.loc[company_mask, 'comments_per_likes'].pct_change() * 100
    data_completed_model.loc[company_mask, 'Close_price_weekly_change'] = data_completed_model.loc[company_mask, 'Close'].pct_change() * 100

In [25]:
data_completed_model

,legal_entity_name,period_end_date,Ticker,followers,pictures,videos,comments,likes,period_end_date_adjusted,Date,Close,content,likes_per_content,comments_per_likes,likes_per_content_weekly_change,followers_weekly_change,comments_per_likes_weekly_change,Close_price_weekly_change
0,AbbVie,2021-07-24,ABBV,5477.0,3.0,4.0,0.0,180.0,2021-08-02,2021-08-02,102.663704,7.0,25.714286,0.000000,NaN,NaN,NaN,NaN
1,AbbVie,2021-07-31,ABBV,5761.0,5.0,4.0,0.0,246.0,2021-08-09,2021-08-09,104.484650,9.0,27.333333,0.000000,6.296296,5.185320,NaN,1.773700
2,AbbVie,2021-08-07,ABBV,5933.0,5.0,3.0,0.0,222.0,2021-08-16,2021-08-16,106.583679,8.0,27.750000,0.000000,1.524390,2.985593,NaN,2.008936
3,AbbVie,2021-08-14,ABBV,6104.0,5.0,3.0,0.0,252.0,2021-08-23,2021-08-23,107.265411,8.0,31.500000,0.000000,13.513514,2.882184,NaN,0.639622
4,AbbVie,2021-08-21,ABBV,6354.0,5.0,2.0,0.0,248.0,2021-08-30,2021-08-30,100.125145,7.0,35.428571,0.000000,12.471655,4.095675,NaN,-6.656635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31970,iRobot Corp,2023-08-12,IRBT,307626.0,90.0,58.0,3994.0,2264.0,2023-08-21,2023-08-21,39.110001,148.0,15.297297,1.764134,-0.144569,0.029590,-2.829458,5.788475
31971,iRobot Corp,2023-08-19,IRBT,307679.0,90.0,59.0,2989.0,2124.0,2023-08-28,2023-08-28,38.770000,149.0,14.255034,1.407250,-6.813385,0.017229,-20.229968,-0.869343
31972,iRobot Corp,2023-08-26,IRBT,307842.0,96.0,74.0,3092.0,2903.0,2023-09-04,2023-09-04,36.340000,170.0,17.076471,1.065105,19.792567,0.052977,-24.313043,-6.267733
31973,iRobot Corp,2023-09-02,IRBT,307980.0,94.0,71.0,3038.0,2574.0,2023-09-11,2023-09-11,35.099998,165.0,15.600000,1.180264,-8.646228,0.044828,10.811996,-3.412223
31974,iRobot Corp,2023-09-09,IRBT,308043.0,89.0,90.0,3044.0,2805.0,2023-09-18,2023-09-18,37.299999,179.0,15.670391,1.085205,0.451225,0.020456,-8.054060,6.267809

In [26]:
for company in data_completed_model.legal_entity_name.unique():
    company_mask = data_completed_model["legal_entity_name"] == company
    
    data_completed_model.loc[company_mask, 'comments_per_likes_ma_2'] = data_completed_model.loc[company_mask, 'comments_per_likes'].rolling(window=2).mean()
    data_completed_model.loc[company_mask, 'change_followers_ma_2'] = data_completed_model.loc[company_mask, 'followers_weekly_change'].rolling(window=2).mean()
    data_completed_model.loc[company_mask, 'Close_price_weekly_change_ma_2'] = data_completed_model.loc[company_mask, 'Close_price_weekly_change'].rolling(window=2).mean()
    
    data_completed_model.loc[company_mask, 'comments_per_likes_ma_3'] = data_completed_model.loc[company_mask, 'comments_per_likes'].rolling(window=3).mean()
    data_completed_model.loc[company_mask, 'change_followers_ma_3'] = data_completed_model.loc[company_mask, 'followers_weekly_change'].rolling(window=3).mean()    
    data_completed_model.loc[company_mask, 'Close_price_weekly_change_ma_3'] = data_completed_model.loc[company_mask, 'Close_price_weekly_change'].rolling(window=3).mean()
    
    data_completed_model.loc[company_mask, 'comments_per_likes_ma_5'] = data_completed_model.loc[company_mask, 'comments_per_likes'].rolling(window=5).mean()
    data_completed_model.loc[company_mask, 'change_followers_ma_5'] = data_completed_model.loc[company_mask, 'followers_weekly_change'].rolling(window=5).mean()
    data_completed_model.loc[company_mask, 'Close_price_weekly_change_ma_5'] = data_completed_model.loc[company_mask, 'Close_price_weekly_change'].rolling(window=5).mean()

In [27]:
# Let´s set to zero the comments_per_likes_weekly_change that are Na (they are originated because of value 0 in the comments of the last weeks)

data_completed_model['comments_per_likes_weekly_change'] = data_completed_model['comments_per_likes_weekly_change'].fillna(0)

In [28]:
data_completed_model.dropna(inplace=True)

In [29]:
data_completed_model.to_csv("data_completed_model.csv", index = False)

In [31]:
data_completed_model.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30289 entries, 5 to 31974
Data columns (total 27 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   legal_entity_name                 30289 non-null  object
 1   period_end_date                   30289 non-null  datetime64[ns]
 2   Ticker                            30289 non-null  object
 3   followers                         30289 non-null  float64
 4   pictures                          30289 non-null  float64
 5   videos                            30289 non-null  float64
 6   comments                          30289 non-null  float64
 7   likes                             30289 non-null  float64
 8   period_end_date_adjusted          30289 non-null  datetime64[ns]
 9   Date                              30289 non-null  datetime64[ns]
 10  Close                             30289 non-null  float64
 11  content                           30289 non-null  float64
 12  likes_per_content                 30289 non-null  float64
 13  comments_per_likes                30289 non-null  float64
 14  likes_per_content_weekly_change   30289 non-null  float64
 15  followers_weekly_change           30289 non-null  float64
 16  comments_per_likes_weekly_change  30289 non-null  float64
 17  Close_price_weekly_change         30289 non-null  float64
 18  comments_per_likes_ma_2           30289 non-null  float64
 19  change_followers_ma_2             30289 non-null  float64
 20  Close_price_weekly_change_ma_2    30289 non-null  float64
 21  comments_per_likes_ma_3           30289 non-null  float64
 22  change_followers_ma_3             30289 non-null  float64
 23  Close_price_weekly_change_ma_3    30289 non-null  float64
 24  comments_per_likes_ma_5           30289 non-null  float64
 25  change_followers_ma_5             30289 non-null  float64
 26  Close_price_weekly_change_ma_5    30289 non-null  float64
dtypes: datetime64[ns](3), float64(22), object(2)
memory usage: 6.5+ MB