<h1 style="color:DarkRed;">UBS Challenge: 4ML</h1>

Justification: we only considered companies that you can invest on the market

In [ ]:
# Our goal will be to be able to generate some insights about what will be happening on the stock market. For that only some companies will be selected, specifically the ones that we have the financial data

# Data with the Ticks for getting the financial data:
companies = pd.read_csv("public-companies.csv")
public_companies = pd.merge(companies, df, left_on='Company Name', right_on='legal_entity_name', how='inner')
public_companies.drop_duplicates(inplace=True)
grouped_df = public_companies.groupby(["legal_entity_name", 'period_end_date'], as_index=False).sum()
grouped_df.drop(columns=["Company Name", "business_entity_doing_business_as_name"], inplace=True)
grouped_df.to_csv("cleaned_data.csv", index=False)

# Since you want to drop 'business_entity_doing_business_as_name', ensure it's not included in the sum
if 'business_entity_doing_business_as_name' in grouped_df.columns:
    grouped_df.drop(columns=['business_entity_doing_business_as_name'], inplace=True)

print(grouped_df)

In [70]:
import pandas as pd
import yfinance as yf

In [71]:
data = pd.read_csv("/Users/santiagoormando/Downloads/data/skylab_instagram_datathon_dataset.csv", sep=";")

In [95]:
data_filtered["content"] = data_filtered["pictures"] + data_filtered["videos"]

In [96]:
data_filtered["likes_per_content"] = data_filtered["likes"]/data_filtered["content"]
data_filtered["comments_per_content"] = data_filtered["comments"]/data_filtered["content"]

In [97]:
# Now, letÂ´s look at the changes per company:

for company in unique:
    company_mask = data_filtered["business_entity_doing_business_as_name"] == company
    data_filtered.loc[company_mask, 'likes_per_content_weekly_change'] = data_filtered.loc[company_mask, 'likes_per_content'].pct_change() * 100
    data_filtered.loc[company_mask, 'followers_weekly_change'] = data_filtered.loc[company_mask, 'followers'].pct_change() * 100
    data_filtered.loc[company_mask, 'comments_per_content_weekly_change'] = data_filtered.loc[company_mask, 'comments_per_content'].pct_change() * 100

In [98]:
# Define a company-specific mask and a condition for the anomaly in followers
company_mask = (data_filtered["business_entity_doing_business_as_name"] == "Longines")
anomaly_mask = (data_filtered["followers_weekly_change"].abs() > 1)  # Assuming the changes can be positive or negative

# Combine the masks to filter the DataFrame
combined_mask = company_mask & anomaly_mask

# Use the combined mask to filter the DataFrame
data_filtered.loc[combined_mask]

# Now anomalies contains the records where the weekly change of followers for 'Longines' was more than 20%

,period_end_date,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
115896,2018-06-16,Longines,Swatch,849551.0,83.0,8.0,990.0,305282.0,91.0,3354.747253,10.879121,-1.417947,2.666759,6.426183
116562,2018-06-23,Longines,Swatch,912841.0,109.0,11.0,1535.0,375781.0,120.0,3131.508333,12.791667,-6.654418,7.449818,17.579966
115507,2018-06-30,Longines,Swatch,922516.0,112.0,8.0,1631.0,382487.0,120.0,3187.391667,13.591667,1.784550,1.059878,6.254072

In [99]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 579258 entries, 604225 to 188398
Data columns (total 14 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   period_end_date                         579258 non-null  datetime64[ns]
 1   business_entity_doing_business_as_name  579258 non-null  object
 2   legal_entity_name                       553976 non-null  object
 3   followers                               579258 non-null  float64
 4   pictures                                579258 non-null  float64
 5   videos                                  579258 non-null  float64
 6   comments                                579258 non-null  float64
 7   likes                                   579258 non-null  float64
 8   content                                 579258 non-null  float64
 9   likes_per_content                       572035 non-null  float64
 10  comments_per_content                    572127 non-null  float64
 11  likes_per_content_weekly_change         577137 non-null  float64
 12  followers_weekly_change                 578501 non-null  float64
 13  comments_per_content_weekly_change      575902 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(2)
memory usage: 66.3+ MB

In [112]:
data_filtered

,period_end_date,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
38549,2015-01-03,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
38518,2015-01-03,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
67125,2015-01-03,Burberry,Burberry,2408413.0,21.0,2.0,9753.0,1137073.0,23.0,49437.956522,424.043478,0.00000,0.000000,0.000000
679203,2015-01-03,Calvin Klein,PVH Corporation,812577.0,41.0,1.0,8621.0,453650.0,42.0,10801.190476,205.261905,0.00000,0.000000,0.000000
294192,2015-01-03,Tom Ford,"Tom Ford International, LLC",626970.0,14.0,1.0,3442.0,186154.0,15.0,12410.266667,229.466667,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193172,2023-09-16,Powerade,Coca-Cola,235771.0,7.0,9.0,50.0,749.0,16.0,46.812500,3.125000,0.00000,0.000000,0.000000
595687,2023-09-16,Stitch Fix,Stitch Fix,1338874.0,2.0,30.0,835.0,5742.0,32.0,179.437500,26.093750,0.00000,0.000000,0.000000
419052,2023-09-16,Citizen,Citizen Watch Co Ltd,841188.0,176.0,36.0,1669.0,55318.0,212.0,260.933962,7.872642,0.00000,0.000000,0.000000
527817,2023-09-16,Tudor,Rolex,1177212.0,9.0,8.0,2083.0,156667.0,17.0,9215.705882,122.529412,0.00000,0.000000,0.000000
188398,2023-09-16,Hibbett Sports,Hibbett Inc,260387.0,71.0,16.0,208.0,11353.0,87.0,130.494253,2.390805,-0.95115,0.009218,0.498423

In [106]:
# Check work 
companies = pd.read_csv("/Users/santiagoormando/Downloads/public-companies.csv")
companies
public_companies = pd.merge(companies, data_filtered, left_on='Company Name', right_on='legal_entity_name', how='inner')

                        Company Name    Ticker
0                     Capri Holdings      CPRI
1    Restaurant Brands International       QSR
2                              Pepsi       PEP
3                     Monster Energy      MNST
4                            Aritzia     ATZAF
..                               ...       ...
209                      HanesBrands       HBI
210                     Lojas Renner  LREN3.SA
211                  Dr. Martens Plc    DOCS.L
212                      Yum! Brands       YUM
213                      Mizuno Corp    8022.T

[214 rows x 2 columns]

In [102]:
data_filtered.dropna(inplace=True)

In [103]:
data_filtered

,period_end_date,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
38549,2015-01-03,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
38518,2015-01-03,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
67125,2015-01-03,Burberry,Burberry,2408413.0,21.0,2.0,9753.0,1137073.0,23.0,49437.956522,424.043478,0.00000,0.000000,0.000000
679203,2015-01-03,Calvin Klein,PVH Corporation,812577.0,41.0,1.0,8621.0,453650.0,42.0,10801.190476,205.261905,0.00000,0.000000,0.000000
294192,2015-01-03,Tom Ford,"Tom Ford International, LLC",626970.0,14.0,1.0,3442.0,186154.0,15.0,12410.266667,229.466667,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193172,2023-09-16,Powerade,Coca-Cola,235771.0,7.0,9.0,50.0,749.0,16.0,46.812500,3.125000,0.00000,0.000000,0.000000
595687,2023-09-16,Stitch Fix,Stitch Fix,1338874.0,2.0,30.0,835.0,5742.0,32.0,179.437500,26.093750,0.00000,0.000000,0.000000
419052,2023-09-16,Citizen,Citizen Watch Co Ltd,841188.0,176.0,36.0,1669.0,55318.0,212.0,260.933962,7.872642,0.00000,0.000000,0.000000
527817,2023-09-16,Tudor,Rolex,1177212.0,9.0,8.0,2083.0,156667.0,17.0,9215.705882,122.529412,0.00000,0.000000,0.000000
188398,2023-09-16,Hibbett Sports,Hibbett Inc,260387.0,71.0,16.0,208.0,11353.0,87.0,130.494253,2.390805,-0.95115,0.009218,0.498423

In [105]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  214 non-null    object
 1   Ticker        214 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [111]:
public_companies.dropna()

,Company Name,Ticker,period_end_date,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
0,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
1,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
2,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
3,Capri Holdings,CPRI,2015-01-03,Versace,Capri Holdings,3013544.0,33.0,3.0,7111.0,742976.0,36.0,20638.222222,197.527778,0.000000,0.000000,0.000000
4,Capri Holdings,CPRI,2015-01-03,Michael Kors,Capri Holdings,3202918.0,41.0,3.0,33822.0,2579608.0,44.0,58627.454545,768.681818,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366193,Mizuno Corp,8022.T,2023-09-02,Mizuno,Mizuno Corp,2751827.0,360.0,113.0,5310.0,178092.0,473.0,376.515856,11.226216,0.000000,0.000000,0.000000
366194,Mizuno Corp,8022.T,2023-09-09,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,-2.418458,0.163164,-11.753659
366195,Mizuno Corp,8022.T,2023-09-09,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,0.000000,0.000000,0.000000
366196,Mizuno Corp,8022.T,2023-09-16,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,8.035716,0.252402,80.624787
366197,Mizuno Corp,8022.T,2023-09-16,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,0.000000,0.000000,0.000000

In [110]:
public_companies

,Company Name,Ticker,period_end_date,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
0,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
1,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
2,Capri Holdings,CPRI,2015-01-03,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
3,Capri Holdings,CPRI,2015-01-03,Versace,Capri Holdings,3013544.0,33.0,3.0,7111.0,742976.0,36.0,20638.222222,197.527778,0.000000,0.000000,0.000000
4,Capri Holdings,CPRI,2015-01-03,Michael Kors,Capri Holdings,3202918.0,41.0,3.0,33822.0,2579608.0,44.0,58627.454545,768.681818,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366193,Mizuno Corp,8022.T,2023-09-02,Mizuno,Mizuno Corp,2751827.0,360.0,113.0,5310.0,178092.0,473.0,376.515856,11.226216,0.000000,0.000000,0.000000
366194,Mizuno Corp,8022.T,2023-09-09,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,-2.418458,0.163164,-11.753659
366195,Mizuno Corp,8022.T,2023-09-09,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,0.000000,0.000000,0.000000
366196,Mizuno Corp,8022.T,2023-09-16,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,8.035716,0.252402,80.624787
366197,Mizuno Corp,8022.T,2023-09-16,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,0.000000,0.000000,0.000000

In [66]:
data_filtered = data_filtered.reset_index()
public_companies = pd.merge(companies, data_filtered, left_on='Company Name', right_on='legal_entity_name')
public_companies = public_companies.drop(columns="Company Name")
public_companies = public_companies.rename(columns={"Ticker": "ticker"})

In [68]:
data_filtered

,index,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
0,38549,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
1,38518,C&A Brasil,C&A MODAS SA,392280.0,49.0,1.0,5070.0,193198.0,50.0,3863.960000,101.400000,0.00000,0.000000,0.000000
2,67125,Burberry,Burberry,2408413.0,21.0,2.0,9753.0,1137073.0,23.0,49437.956522,424.043478,0.00000,0.000000,0.000000
3,679203,Calvin Klein,PVH Corporation,812577.0,41.0,1.0,8621.0,453650.0,42.0,10801.190476,205.261905,0.00000,0.000000,0.000000
4,294192,Tom Ford,"Tom Ford International, LLC",626970.0,14.0,1.0,3442.0,186154.0,15.0,12410.266667,229.466667,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544171,193172,Powerade,Coca-Cola,235771.0,7.0,9.0,50.0,749.0,16.0,46.812500,3.125000,0.00000,0.000000,0.000000
544172,595687,Stitch Fix,Stitch Fix,1338874.0,2.0,30.0,835.0,5742.0,32.0,179.437500,26.093750,0.00000,0.000000,0.000000
544173,419052,Citizen,Citizen Watch Co Ltd,841188.0,176.0,36.0,1669.0,55318.0,212.0,260.933962,7.872642,0.00000,0.000000,0.000000
544174,527817,Tudor,Rolex,1177212.0,9.0,8.0,2083.0,156667.0,17.0,9215.705882,122.529412,0.00000,0.000000,0.000000
544175,188398,Hibbett Sports,Hibbett Inc,260387.0,71.0,16.0,208.0,11353.0,87.0,130.494253,2.390805,-0.95115,0.009218,0.498423

In [67]:
public_companies

,ticker,index,business_entity_doing_business_as_name,legal_entity_name,followers,pictures,videos,comments,likes,content,likes_per_content,comments_per_content,likes_per_content_weekly_change,followers_weekly_change,comments_per_content_weekly_change
0,CPRI,292100,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
1,CPRI,291456,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
2,CPRI,291266,Jimmy Choo,Capri Holdings,1215291.0,12.0,1.0,4952.0,308156.0,13.0,23704.307692,380.923077,0.000000,0.000000,0.000000
3,CPRI,644,Versace,Capri Holdings,3013544.0,33.0,3.0,7111.0,742976.0,36.0,20638.222222,197.527778,0.000000,0.000000,0.000000
4,CPRI,31269,Michael Kors,Capri Holdings,3202918.0,41.0,3.0,33822.0,2579608.0,44.0,58627.454545,768.681818,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366193,8022.T,702980,Mizuno,Mizuno Corp,2751827.0,360.0,113.0,5310.0,178092.0,473.0,376.515856,11.226216,0.000000,0.000000,0.000000
366194,8022.T,703583,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,-2.418458,0.163164,-11.753659
366195,8022.T,703096,Mizuno,Mizuno Corp,2756317.0,348.0,113.0,4567.0,169376.0,461.0,367.409978,9.906725,0.000000,0.000000,0.000000
366196,8022.T,703580,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,8.035716,0.252402,80.624787
366197,8022.T,703354,Mizuno,Mizuno Corp,2763274.0,377.0,123.0,8947.0,198467.0,500.0,396.934000,17.894000,0.000000,0.000000,0.000000

In [ ]:
def fetch_yahoo_finance_data(ticker, start_date, end_date):
    stock = yf.Ticker(ticker)
    # Fetch historical data within the specified date range and interval
    hist = stock.history(start=start_date, end=end_date, interval="1wk")
    hist.reset_index(inplace=True)
    hist["ticker"] = ticker  # Add a column to identify the ticker
    return hist

In [ ]:
tickers = public_companies["Ticker"].unique()
finance_data = []

In [ ]:
for ticker in tickers:
    dates_of_interest = public_companies[public_companies["Ticker"]==ticker]["period_end_date"]
    yahoo_data = fetch_yahoo_finance_data(ticker, min(dates_of_interest), max(dates_of_interest))
    finance_data.append(yahoo_data)

finance_data = pd.concat(finance_data, ignore_index=True)

finance_data